* {
	margin: 0;
	padding: 0;
	font-family: Arial;
	text-align: center;
}
html {
	background-color: #f6f6f6;
}
.nav {
	grid-area: nav;
	background: #FFFFFF;
}
.nav__refs {
	display: none;
}
.nav__log-in {
	display: none;
}
.nav__logo {
	float: left;
	width: 110px;
	height: 30px;
	margin: 10px;
}
.nav__mobile-btn {
	width: 20px;
	height: 20px;
	margin: 15px;
	background: url(../img/navBarIcon.png) no-repeat center center;
	border-radius: 0;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}
.banner {

	grid-area: banner;
	margin-top: 50px;
	margin-bottom: 5px;
	width: 100%;
	height: 245px;
	background: url(../img/bannerImage.png) center/cover no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	background-attachment: scroll;
	-webkit-box-shadow: 0 5px 7px rgba(0,0,0, .3);
	        box-shadow: 0 5px 7px rgba(0,0,0, .3);
	position: absolute;
}
.banner__gradient {
	position: absolute;
	width: inherit;
	height: 245px;
	background: linear-gradient(to right, rgba(10, 202, 199, 0.5) -30%, rgba(29, 98, 238, 0.5) 130%);
	background-size: 100%;
}
.banner__gradient-title {
	/* Покупай и продавай к: */
	max-width: 200px;
	height: 70px;
	margin: 40px auto;

	text-align: center;
	letter-spacing: 0.66px;

	color: #FFFFFF;

	font-size: 20px;
	font-weight: 300;
}
.banner__gradient-subtitle {
	/* Мы ценим и гарантиру: */
	max-width: 300px;
	height: 36px;
	margin: 34px auto;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 0.53px;
}
.sale {
	grid-area: sale;
	margin: 10px 5px 5px 5px;
	border-radius: 4px;
	background: #fff;
	border: none;
	-webkit-box-shadow: 0px 9px 10px rgba(0,0,0, .3);
	        box-shadow: 0px 9px 10px rgba(0,0,0, .3);
}
.table {
	width: 100%;
	margin: 15px 0;
	border-collapse: collapse;
	position: relative;
}
caption {
	margin-left: 5px;
	margin-bottom: 15px;
	color: #065178;
	font-size: 18px;
}
tr {
	width: 335px;
	height: 40px;
}
.table tr:nth-child(odd) {
	background-color: #fcfcfc;
}
td {
	font-size: 10px;
	padding: 0 auto;
}
td:first-child {
	padding-left: 10px;
}
th {
	font-size: 10px;
	letter-spacing: 0,33px;
	color: #37394C;
}
th:first-child {
	text-align: left;
	padding-left: 10px;
}

.client {
	color: #065178;
	text-align: left;
}
.stars {
	float:left;

}
.payment {
	color: #065178;
}
.price {
	color: #0ACAC7;
}
.btn {
	color: #0ACAC7;
	border: solid 1px #0ACAC7;
	width: 73px;
	height: 26px;
	font-size: 10px;
	text-transform: uppercase;
	background: #fff;
	outline: none;
	cursor: pointer;
	border-radius: 3px;
}
.btn:hover {
	color: #fff;
	border: solid 1px #0ACAC7;
	width: 73px;
	height: 26px;
	font-size: 10px;
	text-transform: uppercase;
	background: #0ACAC7;
	background: linear-gradient(to right, #0ACAC7 -30%, #1D62EE 130%);
	/*background: linear-gradient(left, right , from(#0ACAC7), to(#1D62EE));*/
}
.more {
	margin: 5px auto;
	font-size: 16px;
	letter-spacing: 1.30px;
	text-decoration: none;
	cursor: pointer;
	color: #0094A1;
}


.buy {
	grid-area: buy;
	background: #fff;
	margin: 5px 5px;
	border-radius: 4px;
	border: none;
	-webkit-box-shadow: 0px 9px 10px rgba(0,0,0, .3);
	        box-shadow: 0px 9px 10px rgba(0,0,0, .3);
}

.news {
	display: grid;
	grid-area: news;
	background: #fff;
	margin: 5px 5px;
	border-radius: 4px;
	border: none;
	/*box-shadow: 0px 9px 10px rgba(0,0,0, .3);*/
	grid-template-areas: "title"
											 "news-1"
											 "news-2"
											 "more-news";
	grid-template-columns: 1fr;
	grid-template-rows: 50px 1fr 1fr 50px;
	-webkit-box-shadow: 0px 9px 10px rgba(0,0,0, .3);
	        box-shadow: 0px 9px 10px rgba(0,0,0, .3);
}
.news__title {
	grid-area: title;
	background: #fff;
	border-radius: 10px;
	text-align: center;
}
.news__title h4 {
	margin: 15px auto;
	text-transform: uppercase;
	letter-spacing: 1.06px;
	color: rgba(33, 37, 66, .65);
	font-size: 17px;
}
.news-1 {
	display: grid;
	grid-area: news-1;
	background: #FCFCFC;
	border-radius: 4px;
	margin: 0 5px 5px 5px;
	padding: 20px;
	grid-template-areas: "image date"
											 "image subtitle"
											 "paragraph paragraph";
	grid-template-columns: 110px 1fr;
	grid-template-rows: 17px 65px 1fr;
}
.news__image {
	grid-area: image;
	border-radius: 5px;
	padding-left: 20px;
}
.news__subtitle {
	grid-area: subtitle;
	color: #065178;
	line-height: 24px;
	font-size: 18px;
	padding: 11px 5px 7px 15px;
	text-align: left;

}
.news__date {
	grid-area: date;
	color: rgba(33, 37, 66, .65);
	font-size: 14px;
	letter-spacing: 0,29px;
	text-align: left;
	padding-left: 15px;
}
.news__paragraph {
	grid-area: paragraph;
	text-align: left;
	font-size: 14px;
	color: rgba(33, 37, 66, .65);
	padding: 10px 20px 0px 20px;
	letter-spacing: 0.29px;
}
.news-2 {
	display: grid;
	grid-area: news-2;
	background: #FCFCFC;
	border-radius: 4px;
	margin: 5px 5px 5px 5px;
	padding: 20px;
	grid-template-areas: "image date"
											 "image subtitle"
											 "paragraph paragraph";
	grid-template-columns: 110px 1fr;
	grid-template-rows: 17px 65px 1fr;
}
.more-news {
	grid-area: more-news;
	margin: auto;
}
.more-news a {
	margin: 20px;
}
.footer {
	display: grid;
	grid-area: footer;
	background: #fff;
	margin-top: 5px;
	grid-template-areas: "about about"
											 "contacts social"
											 "copyrights copyrights";
	grid-template-columns: 0.9fr 1fr;
	grid-template-rows: auto auto 30px;
}
.footer h4 {
	grid-area: title;
	color: #333743;
	text-transform: uppercase;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	padding: 25px 40px 10px 40px;
}
.footer p {
	color: #9297A3;
	font-size: 16px;
	padding-left: 40px;
	text-align: left;
}
.copyrights {
	grid-area: copyrights;

}
.copyrights p {
	text-align: center;
	font-size: 14px;
}
.copyrights img {
	display: none;
}
.about {
	display: grid;
	grid-area: about;

	grid-template-areas: "title title";
}
.contacts {
	display: grid;
	grid-area: contacts;
	grid-template-areas: "title";
}
.social {
	display: grid;
	grid-area: social;
	grid-template-areas: "title title";
	grid-template-columns: 1fr 2fr;
}
.social img {
	overflow: scroll;
	padding-left: 40px;
}
.social p {
	padding: 0px;
}


.container {
	display: grid;
	grid-template-areas: "nav"
											 "banner"
											 "sale"
											 "buy"
											 "news"
											 "footer";
	grid-template-columns: 1fr;
	grid-template-rows: 50px 245px 350px 350px 550px 440px;
	min-height: 100vh;
}
